.wrapper
  .chat-side
    .chat-side__user
      .chat-side__user--content
        .chat-side__user--content--name
          = current_user.name
        .chat-side__user--new-group
          = link_to new_group_path do
            = fa_icon 'pencil-square-o'
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog'
    .chat-side__groups
      .chat-side__groups--list
        - current_user.groups.each do |group|
          .chat-side__group
            = link_to group_messages_path(group), { :class => "chat-side__group" } do
              .chat-side__group--name
                = group.name
              .chat-side__group--message
                = group.show_last_message
/ .chat-side
/   .chat-side__user
/     = current_user.name
/       ユーザーネーム
/     %ul.header__lists
/       %li.list
/         = link_to do
/           = fa_icon 'pencil-square-o', class: 'icon'
/       %li.list
/         = link_to edit_user_path(current_user) do
/           = fa_icon 'cog', class: 'icon'
/   .groups
/     .group
/ - current_user.groups.each do |group|
/   = link_to group_messages_path(group) do
/     .group__name
/       = group.name
/     .group__message
/ メッセージはまだありません。

